
/* banner pic behind navbar */

.navigation {
  background-image: url("../public/money_banner.png");
  position: relative;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 646px;
  max-width: 100%;

}

.login {
  border-radius: 30px;
  border: 1px #20BF84;

  position: relative;

  background-color: #20BF84;
  background-image: linear-gradient(to right, #20BF84, #0ED4F5);

  padding: 10px 40px;
  margin-right: 10px;

  /*delay for hover animation */
  transition-duration: 0.4s;
  cursor: pointer;
}

.login:hover {
  background-image: none;
  background-color: white;
  color: black;

  box-shadow: 2px 5px 10px #888888;

  border: 1px  black ;
}


.signup {
  border-radius: 30px;

  background-color: #20BF84;
  background-image: linear-gradient(to right, #20BF84, #0ED4F5);

  padding: 10px 30px;

  /*delay for hover animation */
  transition-duration: 0.4s;
  cursor: pointer;
}

.signup:hover {
  background-image: none;
  background-color: white;
  color: black;
  
  margin: 1px 1px;

  box-shadow: 2px 5px 10px #888888;

  border: 1px  black ;
}

/*login card margin */

.loginCard {
  margin-top: 100px;
}